
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>



<fieldset>
<legend>Sign In</legend>
 <%= f.input :email %>
 <%= f.input :password %><br>
</fieldset>
 

  
 

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %><div></div><%= f.label :remember_me %></div>
  <% end -%>
  <br>
  <div class="actions"><%= f.button :submit, "Sign in" %></div>
<% end %>
<p>Complete your profile by signing up for a gravatar at <%= link_to 'Gravatar.com', 'https://en.gravatar.com/site/signup/', target: '_blank' %></p>
<%= render "devise/shared/links" %>

	
	<h2>Post prayers for the world to make</h2>


